.fractionClass {
  background: rgba(16, 139, 0, 0.715);
  width: 45px;
  padding: 10px 5px;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
