.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid white;
  min-width: 120px;
  max-width: 200px;
  padding: 20px 5px 15px 5px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.37);
}

.btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.containerPass {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.inpPassClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 185px;
}

