.btnContainer {
  display: flex;
  gap: 15px;
}

.mainSlot {
  display: flex;
  margin: 30px 0 10px 0;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn {
  width: 25px;
  height: 30px;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 0.75);
  transition: 0.15s ease-in-out;

  &:hover {
    background-color: teal;
    box-shadow: 0px 0px 5px 1px rgba(0, 255, 238, 0.89);
  }
}

.btnEdge {
  width: 18px;
  height: 30px;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
}

.active-button {
  background-color: teal;
  box-shadow: 0px 0px 5px 1px rgba(0, 255, 238, 0.89);
}

.alternativePagination {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(121, 121, 121, 0.89);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 10px;
  box-shadow: 0px 0px 2px 1px rgba(121, 121, 121, 0.89);
}

.numb {
  width: 20px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.btnEdge {
  &:focus {
    box-shadow: 0px 0px 2px 1px rgba(0, 255, 238, 0.89);
  }
}
