.container {
  display: grid;
  justify-content: center;
  margin-bottom: 10px;
  max-width: 195px;
}

.input {
  outline: 0;
  border: 0;
  padding: 2px 0;
}

.label {
  font-size: 18px;
  margin-bottom: 3px;
  color: #007969;

  width: 165px;
  min-height: 24px;
}

input[type="email"] {
  padding: 2px 0;
  width: 185px;
}
