.container {
  max-width: 1500px;
  width: 100%;
  margin-inline: auto;
}

.containerPosts {
  display: grid;
  gap: 5px;
  margin-top: 20px;
}

.numPage {
  color: white;
  width: 150px;
}

.header {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searcIcon {
  width: 25px;
  height: 25px;
}

.activeFocus {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  padding: 3px;
  color: white;
  border: 1px solid teal;
}
