.activeFocus {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  padding: 3px;
  color: white;
  border: 1px solid teal;
}

.searcIcon {
  width: 25px;
  height: 25px;

  cursor: pointer;
}
